<header>
	<h1>eTrade Samples</h1>
	<h3>html / css / javascript / xsl / xml / json / jqueryui / java / cms</h3>
</header>

<style>
#my-samples li:not(:first-child) {
	border-top: 1px solid rgb(207, 207, 207);
	margin-top:30px;
}
#my-samples li img {
	display:block;
	-moz-box-shadow: 0px 1px 3px 2px rgb(214, 214, 214);
	-webkit-box-shadow: 0px 1px 3px 2px rgb(214, 214, 214);
	box-shadow: 0px 1px 3px 2px rgb(214, 214, 214);
	width: 600px;
}
</style>

<ul id="my-samples" style="margin:0; list-style:none; padding:0">
	<li>
		<h3>2013 Commentary Microsite - modal:</h3>
		<a class="live-link" href="https://us.etrade.com/e/t/commentary/Microsite?cid=59699081">
			live link
			<img src="/assets/samples/etrade/2012 etrade - commentary microsite modal.png"/>
		</a>
	</li>
	<li class="my-sample">
		<h3>2013 Public Prospect - select account to open:</h3>
		<a class="live-link" href="https://us.etrade.com/open-account/popular-accounts?ploc=p-MainNav">
			live link
			<img src="/assets/samples/etrade/2012 etrade - prospect.png"/>
		</a>
	</li>
	<li>
		<h3>2013 Investing Insights - landing:</h3>
		<img src="/assets/samples/etrade/2013 etrade - investing insights landing.png"/>
	</li>
	<li>
		<h3>2013 Investing Insights - select product modal:</h3>
		<img src="/assets/samples/etrade/2013 etrade - investing insights modal.png"/>
	</li>
	<li class="my-sample">
		<h3>2013 One Stop Rollover - review application:</h3>
		<img src="/assets/samples/etrade/2012 etrade - onestoprollover.png"/>
	</li>
</ul>

