
<style>
#my-samples li {
	margin-top:20px;
}
#my-samples li img {
	margin-top:10px;
	display:block;
	-moz-box-shadow: 1px 1px 3px 1px #b0b0b0;
	-webkit-box-shadow: 1px 1px 3px 1px #b0b0b0;
	box-shadow: 1px 1px 3px 1px #b0b0b0;
}

</style>

<ol id="my-samples"	>
	<li>
			<span>2013 Investing Insights - landing:</span>
			<img src="/assets/samples/etrade/2013 etrade - investing insights landing.png"/>
	</li>
	<li>
			2013 Investing Insights - select product modal:
			<img src="/assets/samples/etrade/2013 etrade - investing insights modal.png"/>
	</li>
	<li>
			2013 Commentary Microsite - landing:
			<img src="/assets/samples/etrade/2012 etrade - commentary microsite.png"/>
	</li>
	<li class="my-sample">
			2013 One Stop Rollover - review application:
			<img src="/assets/samples/etrade/2012 etrade - onestoprollover.png"/>
	</li>
	<li class="my-sample">
			2013 Public Prospect - select account to open:
			<img src="/assets/samples/etrade/2012 etrade - prospect.png"/>
	</li>
</ol>

