%header
	%h1
		hover tiles
	%h3
		jQuery plugin
	
%div
	=link_to_function "widget", "$('#my-widget').toggle()"
	#my-widget{:style => "height:200px"}
		%button{:style => "font-size:24px; margin:15px 0"}
		:sass
			#my-hover-tiles .over img.helper
				:z-index 1
		#my-hover-tiles{:style => "position:absolute"}

%div
	=link_to_function "widget usage", "$('#my-widget-usage').toggle()"
	%pre#my-widget-usage{:style => "background:#eee"}
		=File.read "app/assets/javascripts/hover_tiles_usage.js"

%div
	=link_to_function "widget source", "$('#my-widget-source').toggle()"
	%pre#my-widget-source{:style => "background:#eee"}
		=File.read "app/assets/javascripts/jquery.hover_tiles.js"

:coffeescript
	$('pre').each () ->
		orig_html = this.innerHTML
		this.innerHTML = orig_html.replace(/\t/g, "    ")
	

=javascript_include_tag "jquery.hover_tiles.js"
=javascript_include_tag "hover_tiles_usage.js"
