%header{:style => "padding-bottom: 20px; border-bottom: 1px solid rgb(223, 223, 223)"}
	%h1{:style => "margin-bottom: 10px;"}Processing js - Ots Way
	%span haml / sass / 3d / perspective / language

%style
	:sass

%canvas#my-id{:style => "margin-top:20px"}

#directions{:style=>"margin-top:10px"}
	Click box to focus, then type [a-z0-9] or space.
	
=javascript_include_tag 'processing-1.4.1.js'
=javascript_include_tag "otsway.js"
:javascript
	$(document).ready(function(){
		$('#my-id').ot().focus();
	});