%header
	%h1
		Processing js - Ots Way
	%h3
		html5 / css3 / haml / sass / 3d / perspective / language

#directions{:style=>"margin-top:10px"}
	Type [a-z0-9] or space/backspace.

:sass
	canvas#my-id
		:width 100%
		:max-width 500px
			
%canvas#my-id{:style => "margin-top:20px"}

%pre#mySource{:style => "background:#eee"}

=javascript_include_tag 'processing-1.4.1.js'
=javascript_include_tag "otsway.js"
:javascript
	$(document).ready(function(){
		$('#my-id').ot().focus()
		$( 'body').scrollTop( 0 )
		$('pre#mySource').load( "/assets/otsway.js" )
	});