%header{:style => "padding-bottom: 20px; border-bottom: 1px solid rgb(223, 223, 223)"}
	%h1{:style => "margin-bottom: 10px;"}Quartz Composition - Ots Way
	%span haml / sass / Quartz Composer / quicktime / 3d / perspective / language

%style
	:sass
		#my-download a
			background-color: #fa0    
		#my-quicktime-movie
			margin-left: auto
			margin-right: auto

%section#my-interactive-quartz-composition{:style => 'margin-top:20px'}
	%a(href="/assets/samples/otsway/my digital lexicon.qtz")
		Download the .qtz file
	%span{:style => 'margin-left: 10px'}
		[Requires MacOSX 10.4 or later]
	
%h3{:style => 'margin-top:20px'}
	Quicktime Movie
%section#my-quicktime-movie{:style => 'border: 1px solid rgb(230, 230, 230)'}
	=javascript_include_tag "http://www.apple.com/library/quicktime/scripts/ac_quicktime.js"
	=javascript_include_tag "http://www.apple.com/library/quicktime/scripts/qtp_library.js"
	=stylesheet_link_tag "http://www.apple.com/library/quicktime/stylesheets/qtp_library.css"
	:javascript
		QT_WritePoster_XHTML('Click to Play', '/my%20automator-poster.png',
		'/my%20automator.mov',
		'620', '256', '',
		'controller', 'true',
		'autoplay', 'true',
		'emb#bgcolor', 'black',
		'scale', 'aspect',
		'align', 'middle');

%style
	:sass
		#my-still-images img
			width: 620px
			height: 256px

%h3{:style => 'margin-top:20px'}
	Still Images
%section#my-still-images
	%image(src="/assets/samples/otsway/ots way.0-9.png")/
	%image(src="/assets/samples/otsway/ots way.u-z.png")/
	%image(src="/assets/samples/otsway/ots way.k-t.png")/
	%image(src="/assets/samples/otsway/ots way.a-j.png")/

%h3{:style => 'margin-top:20px'}
	Quartz Composer Snapshot
%section#my-quartz-composer-snapshots(style="overflow-x:scroll")
	%image(src="/assets/samples/otsway/qc key queues.png")/

