<header>
	<h1>UI Controls</h1>
	<h3>
		jQuery, modal dialog, HTMLElement.getBoundingClientRect
	</h3>
</header>

<div style="min-height:300px">
	<button class="alert" style="position:relative; top:90px;left:40px;">
		Click for modal dialog - info icon
	</button>
	<button class="error">
		Click for a modal dialog - error icon
	</button>
</div>
<style>
button:hover {
	cursor: pointer;
}
button.alert, button.error {
	font-size: 1em;
	height: 3em;
}
</style>

<script>
$(document).ready(function() {
	$('button.alert').click(function(e) {
		alertDialog({
			contentHtml: 'hi alert',
			eMouseClick: e // for positioning under cursor
		})
	})
	$('button.error').click(function(e) {
		errorDialog({
			contentHtml: 'hi error',
			eMouseClick: e // for positioning under cursor
		})
	})
}) // ready
</script>
