<header>
	<h1>VMWare</h1>
	<h3>UI Development screenshots, jQuery, Highcharts, Ajax, ReSTful</h3>
</header>

<style>
ul#myCanvasList li {
	vertical-align : top ; display : inline-block ;
	margin-top : 10px ;
}
ul#myCanvasList img {
	width : 100%
}
</style>

  <ul id="myCanvasList" style="padding:0">
    <li>1 of 3 , 2013-10-18<br>
		<img src="/assets/samples/vmware/Screen Shot 2013-10-18.png"/>
    <li>2 of 3 , 2013-10-04<br>
		<img src="/assets/samples/vmware/Screen Shot 2013-10-04.png"/>
    <li>3 of 3 , 2013-09-27<br>
		<img src="/assets/samples/vmware/Screen Shot 2013-09-27.png"/>
  </ul>
