<style>
ul.tweet_list {
	padding : 0;
	margin : 0;
	list-style: none;
}
ul.tweet_list > li {
	padding: 1em 0;
}
ul.tweet_list > li:not( :first-child ) {
	border-top: 1px solid #eaeaea;
}
ul.tweet_list textarea {
	height: 10em;
	width: 420px;
	resize: none;
}
li.tweet label {
	display: inline-block;
}
li.tweet label ul {
	margin : 0;
	padding : 0;
	list-style: none ;
}
li.tweet label li {
	opacity : 0.7;
}
</style>

<header>
	<h1>IP Twitter</h1>
	<h3>
		ReSTful, CRUD, postgres
	</h3>
</header>

<ul class="tweet_list"></ul>

<script>
$.fn.tweet_list = function ( options ){
	var o = this.o = {}
	$.extend ( o , {
		$mylist : this
	} , options )

	o.$mylist.vjax ( '/tweets' ).done ( function ( data ){
		o.remote_addr = data.remote_addr
		this.append (
			$( '<li class="tweet"/>').tweet( o ) , // create new
			$.map( data.tweets , function( t ) { // existing
				return $( '<li class="tweet"/>').tweet(
					$.extend( o , t )
				)
			}) // map
		) // append
	}) // done
} // $.fn.tweet_list
			
$.fn.tweet = function( options ){
	var o = this.o = {}
	$.extend( o , {
		$mytweet : this
	} , options)

	return this.attr({ id: o.id })
	.on( 'blur' , 'textarea' , function (){
		$( o.$mytweet ).vjax( '/tweets' + ( o.id ? '/' + o.id : '' ) , {
			type : o.id ? 'put' : 'post' ,
			data : JSON.stringify ({
				mytext : this.value
			})
		}).done( function ( data ){
			o.$mytweet.triggerHandler( 'options', data.tweet )
			if( o.$mytweet.index() === 0 ) { // then inserting empty tweet
				$( '<li class="tweet"/>').tweet({
					$mylist : o.$mylist ,
					remote_addr: o.remote_addr
				}).prependTo(
					o.$mylist
				)
			}
		})
	})
	.on( 'click' , '.delete a' , function(){
		$( this ).vjax ( '/tweets/' + o.id , {
			type : 'delete'
		}).done ( function ( data ){
			o.$mytweet.remove()
		})
	})
	.on( 'options', function( e , options ){
		$.extend( o , options )

		o.updated_at && $( 'li.updat' , this ).show().find( 'span' ).html(
			new Date( o.updated_at )
		)
		o.created_at && $( 'li.creat' , this ).show().find( 'span' ).html(
			new Date( o.created_at )
		)
		o.id && $( 'li.delete' , this ).show()
		o.mytext && $( 'textarea' , this ).val(
			o.mytext
		)
 		return $( this ) // chaining
	})
	.append(
		$( '<label/>' ).append(
			$( '<ul/>').append(
				'<li class="remoteip">remote_addr: <span>{0}</span>'.f(
					o.remote_addr
				) ,
				'<li class="updat" style="display:none">updated: <span></span>',
				'<li class="creat" style="display:none">created: <span></span>',
				'<li class="delete" style="display:none"><a href="javascript:void(0)">Delete</a>'
			) ,
			'<textarea placeholder="click a new tweet"/>'
		) // append
	) // append
	.triggerHandler( 'options' , o )
} // $.fn.tweet

$( 'ul.tweet_list' ).tweet_list ()

</script>