<header>
	<h1>Chart Demos</h1>
	<h3>svg / raphael.js / jquery / ajax / html5 / css3 / javascript</h3>
</header>

<style>
#line-chart {
	border-right: 3px solid #e0e0e0;
}
</style>
<div id="chart-container" style="display:inline-block;"></div>

<a href="javascript:void(0)" onclick="toggle_my_source()">
	javascript source
</a>
<pre id="my-javascript-source" style="background:#eee"></pre>


<%= javascript_include_tag 'raphael.js'%>
<%= javascript_include_tag 'g.raphael.js'%>
<%= javascript_include_tag 'g.pie.js'%>
<%= javascript_include_tag 'g.line.js'%>
<script>
function toggle_my_source(){
	var $target = $('#my-javascript-source');
	var is_loaded = $target.text().length;
	var is_visible = $target.filter(':visible').length;
	if(is_loaded){
		if(is_visible){
			$target.hide();
		} else {
			$target.show();
		}
	} else {
		var $source = $('#my-script-source');
		var html = $source.html().replace(/\t/g, "    ");
		$target.text(html);
	}
}
</script>
<script id="my-script-source">
$(document).ready(function(){
	
	var time = [], large = [], medium = [], small = [];
	var rline = Raphael(0, 0, 450, 300);
	$(rline.canvas)
	.appendTo ('#chart-container')
	.attr({
		id : 'line-chart' ,
		viewBox : '0 0 450 300'
	})
	.css({
		position : 'relative'
	})

    var update_line_toid = update_pie_toid = 0;
	var update_line = function(){
		$.getJSON('/foo/time_series', function(v){
			time.push(v.time);
			large.push(v.large);
			medium.push(v.medium);
			small.push(v.small);
			if(time.length > 30){
				time.shift();
				large.shift();
				medium.shift();
				small.shift();
			}
			
			$(rline.canvas).empty();
			rline.linechart(20, 20, 400, 200, time, [large, medium, small], 
				{colors:['orange', 'green', 'blue'], axis:'0 0 1 1'}
			);

			var my_text = rline.text(200, 270, 'some svg text');
			$(my_text[0]).css({'font-size': '14px'});

		    update_line_toid = setTimeout(update_line, 1000);
		})
	};
	update_line();
	
	
	var rpie = Raphael(0, 0, 250, 300)
	$(rpie.canvas)
	.appendTo('#chart-container')
	.attr({
		id: 'pie-chart' ,
		viewBox : '0 0 250 300'
	})
	.css({
		position : 'relative'
	})
	var update_pie = function(){
		$.getJSON('/foo/time_series', function(v){
			$(rpie.canvas).empty();
			rpie.piechart(140, 130, 100,
				[v.large, v.medium, v.small],
				{colors:['orange','green','blue'], matchColors:true}
			);

			var my_text = rpie.text(140, 270, 'more svg text');
			$(my_text[0]).css({'font-size': '14px'});
			
		    update_pie_toid = setTimeout(update_pie, 1000);
		})
	};
	update_pie();

    $("section.main").one( 'myunload' , function( e ){
	clearTimeout( update_line_toid );
	clearTimeout( update_pie_toid );
    })
})
</script>
