<!doctype html>
<html>
<head>
	<title>Dave's Portfolio</title>
	<%= favicon_link_tag '/favicon.ico?v=2'%>
	<%= stylesheet_link_tag    "application", :media => "all"%>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

<style>
html {
    position: relative; /* modal overlay anchored here now */
	font-family : arial , sans-serif;
	opacity: 0.96;
	color: #333;
}
body {
	min-width: 500px;
	padding-left: 210px;
}
body, h1, h3 {
	margin: 0;
}
body, div, nav, section, ul, textarea {
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.noselect { /* not selecting text, for modal dialog */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav.home {
	position: fixed;
	left: 0; top: 0; bottom: 0;
	width: 190px; padding: 2px;
	background-color: #7ab6ff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform:scale3d(1,1,1) /* fix issue with scrolling body containing canvas */
}
nav.home > h1 {
	background: url(/assets/ot-logo.png) 8px 8px no-repeat;
	padding-left: 60px;
	border-bottom: 1px solid #ccc;
}
nav.home > ul {
	background: url(/assets/clouds2.png) 0 0 no-repeat;
	border-radius: 5px;
    list-style-type: none;
    padding-left: 5px;
}
nav.home > ul > li {
    line-height: 1.5em
}
nav.home > ul > li > a {
	text-decoration: none;
	color: #222;
	opacity: 0.96;
}
nav.home > ul > li > a:hover {
	opacity: 1;
}
nav.home > ul > li > a.selected {
	opacity: 0.5;
	cursor: default;
}

section.main {
	padding: 10px;
}

.vmw-waiting {
	opacity: 0.5;
}
.spinner {
	background: url(/assets/spinnerLarge.gif) no-repeat;
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 1;
	opacity: 0.5;
}

.myDialog {
	position: absolute;
	z-index: 100;
}
.myDialog > .head {
	background-color: #ccc;
}
.myDialog > .head:hover {
	cursor: pointer;
}
.myDialog > .body {
	background-color: white;
}
.myDialog > .foot {
	background-color: white;
}

.myOverlay {
	position: absolute;
	top: 0;	left: 0;
	height: 100%; width: 100%;
	opacity: 0.3;
	z-index: 10;
	background-color: black;
}
</style>
</head>

<body>
  <nav class="home">
	<h1>Dave's Portfolio</h1>
	<small>
	  Last updated June 22, 2015
	</small>
	<ul>
	  <li><a href="/samples/vmware" title="development screenshots">vmware</a>
	  <li><a href="/samples/etrade">etrade samples</a>
	  <li><a href="/tweets">ip twitter</a>
	  <li><a href="/samples/uicontrols">modal dialog</a>
	  <li><a href="/foo/charting_demo">svg charts</a>
	  <li><a href="/samples/jquery_plugin">jquery plugin</a>
	  <li><a href="/moviedb">backbone moviedb</a>
	  <li><a href="/samples/ots_way">processing 3d canvas</a>
	  <li><a href="/samples/algos">algorithms</a>
	</ul>
  </nav>

  <section class="main"></section>
</body>

<script>
$.fn.vload = function ( url ){
	return this.vjax( url , {
		dataType : 'html'
	}).done ( function ( responseHtml ){
		this .html( responseHtml )
	})
}

$.fn.vjax = function ( url , options ){
	var o = this.o = {}
  	$.extend( o , {
		url : url ,
		type : 'get' , // defaulting
		dataType : 'json' , // expecting from server
		context : this , // jquery context for done/always/...
		beforeSend: function(jqXHR) {
			o.context.addClass('vmw-waiting')
			var box = o.context[0].getBoundingClientRect() // relative to viewport
			var viewport = {
				height: $( window ).height(),
				width: $( window ).width()
			}
			var visible = {
				height: Math.min( box.bottom, viewport.height ) - Math.max( box.top, 0 ),
				width: Math.min( box.right, viewport.width ) - Math.max( box.left, 0 )
			}
			if( visible.height > 0 && visible.width > 0 ){
				$( document.documentElement).append(
					$( '<div class="spinner">' ).offset( function( index , coords ){
						var offset = o.context.offset(); // relative to document
						return {
							top: offset.top + (
								box.top >= 0 ? visible.height/2 :
									o.context.outerHeight() - visible.height/2
							) - 30,
							left: offset.left + (
								box.left >= 0 ? visible.width/2 :
									o.context.outerWidth() - visible.width/2
							) - 30
						} // return
					})
				) // append
			} // if
		},
		complete : function (){
			$( '> .spinner' , document.documentElement ).remove()
			o.context.removeClass('vmw-waiting')
		}
	})

	// defaulting for post-put data
	options && options.data && /(post|put)/i .test( options .type ) &&
		$ .extend ( o , {
			contentType : 'application/json' , // sending to server
			processData : false
		})

	return $.ajax( $.extend ( o , options ) )
} // vjax

String.prototype.f = function() {
	var a = arguments
	return this.replace(/{(\d+)}/g, function(m, n) {
		return a[n]
	})
} // String.prototype.f

function errorDialog(options) {
	var o = {}
	if (isContentHtml(options)) { // allow optionsHtml in first parameter
		o.contentHtml = options
		options = null
	}
	$.extend(o, {
		title: 'Error',
		style: 'x'
	}, options)
	return alertDialog(o)
} // errorDialog

function isContentHtml(v) {
    return typeof v === 'string' || v instanceof $
} // isContentHtml

function alertDialog(options) { // now a global container
    var o = this.o = {}
    if( isContentHtml(options)){ // allow contentHtml in first parameter
		o.contentHtml = options
		options = null
    }
    $.extend(o, {
		title: 'Confirm',
		style: "info", // i-info, ?-confirm, !-warn, x-error
		buttons: [{
			title: 'Ok',
			callback: function(e) {
				return false // prevent default processing
			} // callback
		}] // buttons
    }, options)

    return o.$dialog = $('<div/>').modalDialog(o).css({
		'min-width': 322, // like min-width for table since it auto expands
		'max-width': 496
    }).append(
		$('<div class="head"/>').css({
			'line-height': '1.5em',
			'background-color': '#dedede',
			'font-weight': 'bold',
			'padding-left': '1em'
		}).append(o.title),
		$('<div class="body"/>').css({
			padding: '1em 1em 1em 60px', // room for background icon
			background: 'white url({0}) no-repeat 15px 15px'.f(
				[
					"images/help32x.png",
					"images/warning32x.png",
					"assets/error32x.png"
				][
					o.style.length === 1 ? (
						'?!x'.indexOf(o.style)
					) : (
						$.inArray(
							o.style, ['confirm', 'warn', 'err']
						) // inArray
					)
				] || "assets/info32x.png"
			) // f
		}).append(o.contentHtml),
		$('<div class="foot"/>').css({
			'text-align': 'center',
			height: 42,
			'background-color': 'white'
		}).append(
			$.map(o.buttons, function(v) {
				return $('<button/>').append(v.title).one({
					click: function(e) {
						v.callback && v.callback.call(this, e)
						o.$dialog.triggerHandler('close')
						return false // prevent default processing
					} // click
				}) // one
			}) // map
		) // append
    ).triggerHandler('center', o)
} // alertDialog

$.fn.modalDialog = function(options) {
	var o = {}
	$.extend( o, {
		$myDialog: this,
		$myOverlay: $('<div class="myOverlay"/>'),
		dragTimeout: 100
	}, options) // extend

	function center( options ){
		if( options.eMouseClick ){ // got mouse click ?
			// positionn first button under cursor
			o.$myButton = $('button', o.$myDialog)
			var buttonOffset = o.$myButton.offset()
			var dialogOffset = o.$myDialog.offset()
			var button = {
				top: buttonOffset.top - dialogOffset.top,
				left: buttonOffset.left - dialogOffset.left,
				width: o.$myButton.outerWidth(),
				height: o.$myButton.outerHeight()
			}
			return {
				top: Math.max(
					document.body.scrollTop, // keepn top visible
					o.eMouseClick.pageY - button.top - button.height + 1
				),
				left: Math.max(
					document.body.scrollLeft, // keepn left visible
					o.eMouseClick.pageX - button.left - button.width / 2
				)
			}
		} // if
		// otherwise center dialog in page
		var viewport = {
			height: $( window ).height(),
			width: $( window ).width()
		}
		var dialog = {
			height: o.$myDialog.outerHeight(),
			width: o.$myDialog.outerWidth()
		}
		return {
			top: document.body.scrollTop + // keepn top visible
				Math.max(0, viewport.height / 2 - dialog.height / 2),
			left: document.body.scrollLeft + // keepn left visible
				Math.max(0, viewport.width / 2 - dialog.width / 2)
		}
	} // center

	return o.$myDialog.addClass(
		'myDialog'
	).appendTo(
		$( document.documentElement ).addClass('noselect').on({
			'keyup': function(e) {
				if (e.keyCode === 27) { // 'escape' key ?
					o.$myDialog.triggerHandler(
						'close'
					)
				} // if
			} // keyup
		}).append(
			o.$myOverlay
		)
	).end().one({
		close: function(e) {
			o.$myDialog.triggerHandler('beforeClose')
			o.$myOverlay.remove()
			$( document.documentElement ).removeClass('noselect')
			return o.$myDialog.remove()
		}
	}).on('mousedown', '.head', function(e) { // starting drag
		var pageX0 = e.pageX,
			pageY0 = e.pageY,
			offset0 = o.$myDialog.offset();
		o.dragThrot = 1
		$( document.documentElement ).on({
			'mousemove.dragging': function(e) {
				if( o.dragThrot ){ 
					o.$myDialog.offset({
						top: offset0.top + (e.pageY - pageY0),
						left: offset0.left + (e.pageX - pageX0)
					})
					o.dragThrot = 0;
					setTimeout( function(){ o.dragThrot ++ } , o.dragTimeout );
				}
			}, // mousemove
			'mouseup.dragging': function(e) {
				$( document.documentElement ).off('.dragging')
			} // mouseup
		}) // on
	}).on({
		center: function(e, options) {
			return o.$myDialog.offset(
				center(options)
			) // offset
		} // center
	}) // on
} // modalDialog

{ // parallax effect ?
	$( 'ul', 'nav.home' ).on( 'mouseenter' , function( e ){
		var throttle = 1,
			$myul = $( this ),
			width = $myul.outerWidth(),
			height = $myul.outerHeight();
 		$myul.on( 'mousemove.parallax' , function( e ){
			if( throttle ){
				var offset = $myul.offset();
				var dx = ( e.pageX - offset.left ) / width,
					dy = ( e.pageY - offset.top ) / height;
				//$( 'span#pagex' ).text( dx )
				//$( 'span#pagey' ).text( dy )
				
				$myul.css( 'background-position' , -dx + 'em ' + -dy + 'em' )
				throttle = 0
				setTimeout( function(){ throttle ++ } , 100 );
			}
		}) // on
	}).on( 'mouseleave' , function( e ){
		$( this ).off( '.parallax' )
	}) // on
} // parrallax effect

var g = {};
$.extend( g, {
	jqxhr: 0
})
$('nav.home').on( 'click' , 'ul > li > a' , function ( e ){
	var $a = $( this);
    if ( $a.hasClass( 'selected' ) ){
		// already selected , doing nothing
    } else {
		if( g.jqxhr ){
			g.jqxhr.abort() // cancel pending
		} else {
			$('a', $a.closest('li').siblings()).removeClass( 'selected')
			$('section.main').triggerHandler( 'myunload' ) // unload previous
		}
		g.jqxhr = $('section.main').vload(
			$a.attr( 'href' )
		).done( function (){
			document.cookie= "myHref=" + $a.attr('href')
			$a.addClass( 'selected')
			g.jqxhr = 0
		}) // done
    } // if
	return false // otherwise href gets followed
}) // on click

{ // recall last nav selection from cookie
	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i=0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1);
			if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
		}
		return "";
	} // getCookie
	(
		(
			g.myHref = getCookie("myHref")
		) && (
			g.$prevNav = $("a[href='" + g.myHref + "']" , 'nav.home' )
		).length ?
			g.$prevNav : $("a[ href $= 'uicontrols' ]", 'nav.home' )
	).click()
}
</script>

</html>
