<!DOCTYPE html>
<html>
<head>
	<title>Dave's Portfolio</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<style type="text/css" media="screen">
	body {
		font-family : arial , sans-serif ;
		color: #333;
		margin: 0 0 0 220px;
		position: relative;
	}
	h1, h3, section {
		margin: 0;
		box-sizing: border-box; -moz-box-sizing: border-box;
	}
	nav.main {
		position: fixed;
		width: 200px;
		left: 10px; top: 10px;
	}
	nav.main h1 {
		background: url(/assets/test-logo.png) 8px 1em no-repeat;
		padding-left: 60px;
		border-bottom: 1px solid #ccc;
	}
	nav.main > * {
		display: block;
		padding: 5px 10px;
	}
	nav.main a {
		color: #333;
		text-decoration: none;
		opacity: 0.9;
	}
	nav.main a:hover {
		opacity: 1;
	}
	nav.main a.selected {
		opacity: 0.5;
	}
	section.main {
		position: relative;
		padding: 1em;
	}
 	#left_top_background {
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 1200px;
		background: url(/assets/desktop2.jpg) no-repeat;
		z-index: -1;
		opacity: 0.45;
	}
	#bottom_repeating_background {
		position: absolute;
		background: url(/assets/desktop2bottom.jpg) repeat-y;
		top: 1200px;
		bottom: 0px;
		width: 100%;
		z-index: -1;
		opacity: 0.43;
	}
	.vmw-waiting {
		opacity: 0.5;
	}
	.spinner {
		background: url(/assets/spinnerLarge.gif) no-repeat;
		width: 60px;
		height: 60px;
		display: none;
		position: absolute;
		z-index: 1;
		opacity: 0.8;
	}
</style>
</head>


<body>
	<div id="left_top_background"></div>
	<div id="bottom_repeating_background"></div>
	<div class="spinner"></div>

	<nav class="main">
		<h1>Dave's Portfolio</h1>
		<a href="/samples/vmware">vmware</a>
		<a href="/samples/etrade">etrade samples</a>
		<a href="/foo/charting_demo">svg charts</a>
		<a href="/samples/jquery_plugin">jquery plugin</a>
		<a href="/moviedb">backbone moviedb</a>
		<a href="/samples/ots_way">processing 3d canvas</a>
		<a href="/samples/algos">algorithms</a>
	</nav>

	<section class="main"></section>
	
</body>

<script>

var globals = window

$.fn.vload = function ( url , fnDone ){
	// returning jqXHR , so no regular chaining
	return this
		.vjax ( url , { dataType : 'html'} )
		.done ( function ( responseHtml ){
			this .html ( responseHtml )
		})
}

$.fn.vjax = function ( url , options ){
	var o = this.o = {}
  	$ .extend (	o , {
		url : url ,
		type : 'get' , // defaulting
		dataType : 'json' , // expecting from server
		context : this , // for handlers
		beforeSend : function ( jqXHR ){
			// expecting atomic DOM access within this handler
			// last request per DOM element wins
			( globals .prev_jqxhr = this .data ( 'my_jqxhr' ) ) &&
				globals .prev_jqxhr .abort()
			this .data ( 'my_jqxhr' , jqXHR )
			this .addClass ( 'vmw-waiting' )
			var target = this[ 0].getBoundingClientRect()
			var doc = document.documentElement
			$( '> .spinner' , document.body )
				.css ({
					top : -target.top + doc.clientHeight/2 - 30 ,
					left : ( doc.clientWidth - target.left )/2 - 30
				})
				.show()
		} ,
		complete : function (){
			this .data ( 'my_jqxhr' , null )
			this .removeClass ( 'vmw-waiting' )
			$( '> .spinner' , document.body ).hide()
		}
	})

	// defaulting for post-put data
	options && options .data && /(post|put)/i .test ( options .type	) &&
		$ .extend ( o , {
			contentType : 'application/json' , // sending to server
			processData : false
		})

	// returning jqXHR object , so no regular chaining
	return $.ajax ( $.extend ( o , options ) )
} // vjax

String .prototype .f = function (){
	var a = arguments
	return this .replace ( /{(\d+)}/g , function ( m , n ){ 
		return a [ n ] ? a [ n ] : m // be many
	})
} // String.prototype.f

var $my_nav = $( "nav.main").on( 
	'click' , '> a' , function ( e ){
		var o = {}
		e.stopPropagation()
		e.preventDefault();
		if ( ( o .$a = $( this ) ).hasClass( 'selected' ) ){
			// already selected , doing nothing
		} else {
			o .$a .siblings( 'a' ).removeClass( 'selected').end()
			$( 'section.main' ) .vload ( o .$a .attr( 'href' ) )
				.done ( function (){
					o .$a .addClass( 'selected')
				})
		}
	} // click
).find( '> a' ).eq(0).click() // default top menu item

</script>

</html>
